*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cadre{
    height: 500px;
    width: 500px;
    background-color: #EA9595;
    border-radius: 80px;
    
    
 
}
.para{
    margin-top: 40px;
    margin-left: 13.90%;
    padding:10px;
    font-size: 20px;
    color: black;
}
.para1{
    margin-left: 35%;
    font-size: 20px;
    color: black;
}
.formulaire{
   margin: 30px;
 
}
form{
    margin: 0 auto;
    width: 300px;
}
input{
    height: 25px;
    width:250px;
    margin-bottom: 10px;
}
