*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cadre{
    height: 500px;
    width: 500px;
    background-color: #EA9595;
    border-radius: 80px;
}
.para{
    margin-top: 40px;
    margin-left: 13.90%;
    padding:10px;
    font-size: 20px;
    color: black;
}
.para1{
    margin-left: 35%;
    font-size: 20px;
    color: black;
}
.formulaire{
   margin: 30px;
 
}
form{
    margin: 0 auto;
    width: 300px;
}
input{
    height: 25px;
    width:250px;
    margin-bottom: 10px;
}
.genre{
    display: flex;
    padding: 20px;
    margin-right: 50px;
}
.p1{
    background-color: white;
    border: none;
    border-radius: 23px;
    width: 30%;
    margin-left: 35%;
    
}
.p p{
    text-align: center;
    margin: 7px;
}
.para2{
    display: flex;
    margin-top: 10px;
}
a {
    text-decoration: none;
    color:white;
}
button{
    background-color: white;
    margin-top: 20px;
    margin-left: 110px;
    width: 90px;
    height:30px;
    border-radius: 23px;
}
.p2{
    background-color: white;
    border: none;
    border-radius: 23px;
    width: 30%;
    margin-left: 35%;
    margin-top: 40px;
}

