*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
   overflow: hidden;
}
.couvert2{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.771);
    width: 100%;
    position: absolute;
    backdrop-filter: blur(5px);
    z-index: 11;
    margin-top: -10px;
} 
.cadre2{
    height: 300px;
    width: 350px;
    background-color: #EA9595;
    border-radius: 39px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 15;
}
.cadre2 h1 {
    font-size: 25px;
    padding: 15px;
    margin-top: 35px;
}
.cadre2 input {
    border: none;
    border-radius: 6px;
    text-align: center;
    padding: 15px;
    height: 25px;
    width:250px;
    margin-bottom: 10px;
}
.cadre2 .radio  {
    display: grid;
    margin: 10px auto;
    width: 90%;
    grid-template-columns: 45% 45%;
    grid-gap: 2%;
}
.cadre2 .radio p{
    grid-column: span 2;
    margin-bottom: 8px;
}
.cadre2 .radio .div1, .cadre2 .radio .div2{
    display: flex;
}
.cadre2 .para1{
    font-size: 20px;
    color: black;
}
.cadre2 form{
    margin: 0 auto;
    width: 300px;
}
.cadre2 .para2{
    display: flex;
    margin-top: 10px;
}
.cadre2 a {
    text-decoration: none;
    color:white;
}
.cadre2 button{
    background-color: white;
    margin-bottom: 20px;
    width: 90px;
    height: 30px;
    border-radius: 23px;
    border: none;
}
.cadre2 button a{
    color: black;
}


