*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.couvert2{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.771);
    width: 100%;
    position: absolute;
    backdrop-filter: blur(5px);
    z-index: 11;
} 
.cadre{
    height: 400px;
    width: 400px;
    background-color: #EA9595;
    border-radius: 39px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 15;
}
h1 {
    font-size: 25px;
    padding: 15px;
    margin-top: 45px;
}
.cadre input {
    border: none;
    border-radius: 6px;
    text-align: center;
    padding: 15px;
    height: 25px;
    width:250px;
    margin-bottom: 10px;
}
.radio  {
    display: grid;
    margin: 10px auto;
    width: 90%;
    grid-template-columns: 45% 45%;
    grid-gap: 2%;
}
.radio p{
    grid-column: span 2;
    margin-bottom: 8px;
}
.radio .div1, .radio .div2{
    display: flex;
}
.para1{
    margin-left: 35%;
    font-size: 20px;
    color: black;
}
form{
    margin: 0 auto;
    width: 300px;
}
.para2{
    display: flex;
    margin-top: 10px;
}
a {
    text-decoration: none;
    color:white;
}
button{
    background-color: white;
    margin-bottom: 20px;
    width: 90px;
    height: 30px;
    border-radius: 23px;
    border: none;
}
button a{
   color: black;
}


