*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.entete{
    height: 56px;
    margin: 10px;
}
.entete nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    margin: 2px auto;
}
.entete .logo{
    height: 60px;
    border-radius: 15px;
}
.entete h1{
    font-size: 34px;
    align-self: center;
}
.entete h1 a{
    color: rgb(226, 136, 151);
    text-decoration: none;
}
.entete ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}
.menu{
    margin-right: 50px;
    
}
.menu a{
    text-decoration: none;
    color: rgb(226, 136, 151);
    font-size: 20px;
}

.slide{
    position: relative;
    width: 100%;
    margin: auto;
    height: 860px;
    background: url(./images/image1.jpg) 50%;
    background-size: cover;
    overflow: hidden;
}
.slide h1{
    position: absolute;
    font-size: 51px;
    font-size: 51px;
    text-transform: uppercase;
    color: #ffffff;
    top: 40%;
    left: 30%;

}

.slide img{
    width: 100%;

}
.slide .t1{
    animation: myAnime 11s ease 0s infinite normal forwards;
   height: 280px;


}
.slide .t2{
    animation: myAnime2 8s ease 0s infinite normal forwards;

}


.container{
    width: 100%;
    max-width: 1800px;
    display: flex;
    justify-content: center;
}


section {
    width: 100%;
    margin: 2rem auto;
    display: grid;
    gap: 0.75rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}
section h2{
    color:#EA9595 ;
}
  
.card {
    width: 100%;
    cursor: default;
    padding: 1.25rem;
    border-radius: 0.25rem;
    background-color: var(--sdcolor);
    transition: transform 0.3s ease-in-out;
}
  
.card:hover {
    transform: translateY(-0.5rem);
}
  
.card-img {
    width: 100%;
    height: 15rem;
    overflow: hidden;
    position: relative;
    border-radius: 0.25rem;
}
  
.card-img img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}
.voirplus{
    display: flex;
    margin-left: 77%;
    text-decoration: none;
    background-color: #EA9595;
    padding: 13px;
    width: 90px;
    border-radius: 10px;
    color: #ffffff;

}
























@keyframes myAnime {
	0% {
		opacity: 0;
		transform: translateY(0px);
	}

	50% {
		opacity: 1;
		transform: translateY(-280px);
	}
}
@keyframes myAnime2 {
	0% {
		opacity: 0;
		transform: translateY(350px);
	}

	50% {
		opacity: 1;
		transform: translateY(-570px);
	}
}
.foot{
    background-color: black;
    height: 300px;
    width:100%;
    display: flex;
    gap: 100px; 
    justify-content: center;
    
}
.lien {
    margin-top: 40px;
   
}
.lien h4{
    margin-top: 20px;
    margin-bottom: 14px;
}
.cat{
    margin-top: 40px;
}   
.cat h4{
    margin-top: 20px;
    margin-bottom: 14px;
   
}
.contact{
    margin-top: 40px;
    
}
.contact h4{
   margin-top: 20px;
    margin-bottom: 14px;
    
}


