*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: #EA9595;
    height: 50px;
    width: 100%;
}
.logo{
    position: relative;
    
}
.logo a img{
    height: 30px;
    width: 30px;
    margin: 10px;
}
.lien ul{
    display:flex;
    justify-content: flex-end;
    margin-top: -40px;
}
.lien ul li{
    list-style-type: none;
}
.lien ul li a{ 
    text-decoration: none;
    margin-right: 20px;
    color: black;
    font-weight: bold;
}
.barre::after{
    content: "";
    position: absolute;
    height: 40px;
    width: 3px;
    background-color: white;
    margin:-9px 0  0 -10px;
}
.sild{
    position: relative;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sild img{
    height: 600px;
    width:100%;
    object-fit: cover;
}
.sild p{
   position:absolute; 
   text-align: center;
   font-size: 6rem;
   color: white;
   font-weight: bold;
}
.trois{
    background-color: black;
    height:10px;
    width:40px;
}
.h{
    background-color: black;
    height: 70px;
    width:400px;
    border-radius: 50Px;
    margin-left: 40%;
    margin-top: 40px;
}
.h h1{
    color: white;
    text-align: center;
    padding:10px;
}
.back{
    background-color: #EA9595;
    height:900px;
    width:100%;
    margin-top: 40px;
    display: flex;
    
}
.image img {
    margin-top: 50px;
    height: 200px;
    width: 200px;
    padding:  10px;
    margin-left: -10px ;
}
