*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: #EA9595;
    height: 50px;
    width: 100%;
}
.logo{
    position: relative;
    
}
.logo a img{
    height: 30px;
    width: 30px;
    margin: 10px;
}
.lien ul{
    display:flex;
    justify-content: flex-end;
    margin-top: -80px;
}
.lien ul li{
    list-style-type: none;
}
.lien ul li a{ 
    text-decoration: none;
    margin-right: 20px;
    color: black;
    font-weight: bold;
}
.barre::after{
    content: "";
    position: absolute;
    height: 40px;
    width: 3px;
    background-color: white;
    margin:-9px 0  0 -10px;
}
.sild{
    position: relative;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sild img{
    height: 600px;
    width:100%;
    object-fit: cover;
}
.sild p{
   position:absolute; 
   text-align: center;
   font-size: 6rem;
   color: white;
   font-weight: bold;
}
/*.trois{
    background-color: black;
    height:10px;
    width:40px;
}*/
.h{
    background-color: black;
    height: 70px;
    width:400px;
    border-radius: 50Px;
    margin-left: 40%;
    margin-top: 40px;
}
.h h1{
    color: white;
    text-align: center;
    padding:10px;
}
.back{
    background-color: #EA9595;
    height:1130px;
    width:100%;
    margin-top: 40px;
   
}
.imag{
    display: flex;
    
}
.image img {
    height: 330px;
    width:340px ;
    padding: 10px;
    margin-top: 10px;
  
}
footer{
    height: 300px;
    width:100%;
    background-color:black;
    
}
.foot {
    display: flex;
    margin-right: 50%;

}
.lien{
  padding:50Px;
  margin-left: 50%;
}
.lien h4{
    padding:10px;
}
.cat{
    padding:50px ;
    margin-left: 10%;
}
.cat h4{
    padding:10px;
}
.contact{
    padding:50px;
    margin-left: 10%;
}
.contact h4{
    padding:10px;
    font-size: 20px;
}
.image .icon-play{
    position: relative;
    border-radius:100% ;
    border: 3px solid red;
    width:5rem;
    height:5rem;
    margin-top: -100px;
}
