*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.entete{
    height: 56px;
    margin: 10px;
}
.entete nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    margin: 2px auto;
}
.entete .logo{
    height: 60px;
    border-radius: 15px;
}
.entete h1{
    font-size: 34px;
    align-self: center;
}
.entete h1 a{
    color: rgb(248, 124, 145);
    text-decoration: none;
}
.entete ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}

.slide{
    width: 100%;
    margin: 1px auto;
    height: 260px;
    background: url(./images/sli4.jpg) 50%;
    background-size: cover;
    overflow: hidden;
}
.slide h1{
    position: relative;
    font-size: 24px;
    text-transform: uppercase;
    color: rgb(244, 134, 152);
    z-index: 10;
    text-align: center;
    height: 260px;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%);

}
.slide .couvert{
    background-color: rgba(0, 0, 0, 0.523);
    width: 100%;
    height: 260px;
    position: absolute;
    z-index: 5;
}
.slide img{
    width: 100%;

}
.slide .t1{
    animation: myAnime 11s ease 0s infinite normal forwards;
   height: 280px;


}
.slide .t2{
    animation: myAnime2 8s ease 0s infinite normal forwards;

}
.page .gauche img{
    width: 150px;
    height: 150px;
    border-radius: 10px;
}
.page{
    display: grid;
    grid-template-columns: 70% 25%;
    grid-gap: 2%;
    width: 90%;
    margin: 5px auto;

}
.page .gauche{
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    width: 90%;
    margin: 5px auto;
    justify-content: space-between;
    grid-gap: 1%;
}
.page .droit{
    text-align: center;
    position: relative;
    padding: 15px;
}

.page li a{
    text-decoration: none;
    color: rgb(244, 134, 152);
    font-size: 20px;
    letter-spacing: 3px;
}
.page li {
    list-style: none;
    padding: 4px;
}
@keyframes myAnime {
	0% {
		opacity: 0;
		transform: translateY(0px);
	}

	50% {
		opacity: 1;
		transform: translateY(-280px);
	}
}
@keyframes myAnime2 {
	0% {
		opacity: 0;
		transform: translateY(350px);
	}

	50% {
		opacity: 1;
		transform: translateY(-570px);
	}
}

