@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
  width: 100%;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  background-color: #f1f0f9;
}
.entete{
    height: 56px;
    margin: 10px;
}
.entete nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    margin: 2px auto;
}
.entete .logo{
    height: 60px;
    border-radius: 15px;
}
.entete h1{
    font-size: 34px;
    align-self: center;
}
.entete h1 a{
    color: rgb(248, 124, 145);
    text-decoration: none;
}
.entete ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}
.entete li a{
    text-decoration: none;
    margin: 5px;
    color: rgb(248, 124, 145);
}
section .titre{
    position: absolute;
    z-index: 100;
    top: 45%;
    font-size: 55px;
    color: #ffffff;
    left: 30%;
    text-transform: uppercase;
}


.slider-1 {
    width: 2050px;
    margin: auto;
    height: 860px;
    overflow: hidden;
  
}

  .slider-1 .slider {
    display: flex;
    animation: slider-1 10s infinite ease-in-out;
  
  }
  .slider-1 .slider img{
    height: 100%;
    width: 100%;
    object-fit: cover;

}
  
  @keyframes slider-1 {
    0%,
    20% {
      transform: translateX(0);
    }
    25%,
    45% {
      transform: translateX(-100%);
    }
    50%,
    70% {
      transform: translateX(-200%);
    }
    75%,
    95% {
      transform: translateX(-300%);
    }
    100% {
      transform: translateX(-400%);
    }
  } 


.container{
    width: 100%;
    max-width: 1800px;
    display: flex;
    justify-content: center;
}


section {
    width: 100%;
    margin: 2rem auto;
    display: grid;
    gap: 0.75rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}
section h2{
    color:#EA9595 ;
}
  
.card {
    width: 100%;
    cursor: default;
    padding: 1.25rem;
    border-radius: 0.25rem;
    background-color: var(--sdcolor);
    transition: transform 0.3s ease-in-out;
}
  
.card:hover {
    transform: translateY(-0.5rem);
}
  
.card-img {
    width: 100%;
    height: 15rem;
    overflow: hidden;
    position: relative;
    border-radius: 0.25rem;
}
  
.card-img img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}
p a{
    margin-top: 10px;
    color: black;
}

.foot{
    background-color: black;
    height: 300px;
    width:100%;
    display: flex;
    gap: 100px; 
    justify-content: center;
    
}
.lien {
    margin-top: 40px;
   
}
.lien h4{
    margin-top: 20px;
    margin-bottom: 14px;
}
.cat{
    margin-top: 40px;
}   
.cat h4{
    margin-top: 20px;
    margin-bottom: 14px;
   
}
.contact{
    margin-top: 40px;
    
}
.contact h4{
   margin-top: 20px;
    margin-bottom: 14px;
    
}